:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #c0c0c0;
    --botao-verde-escuro: #034e07;
    --cor-de-fundo: #00030C;
    --botao-verde-medio: #07a00f;
    --fonte-verde: #034e07;
    --botao-verdinho: #9cf599;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(principal.jpg);
    background-repeat: no-repeat;
    margin-top: 1em;
    text-align: center;


}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao{
    background-color: var(--botao-verde-escuro);
    border-radius: 10px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-align: center;
    margin-bottom: 1em;
    text-decoration: none;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);

}
.titulo{
    text-align: center;
    color: var(--fonte-verde);
    margin: 1em 0 1em 0;
}
.container__botao-1{
    background-color: var(--botao-verde-medio);
    border-radius: 10px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-align: center;
    margin-bottom: 1em;
    text-decoration: none;
}
.container__caixa{
    margin: 0 8em;
}
.container__secundario{
    width: 90%;
    border-radius: 10%;
}
.secundario{
    margin: 1em;
}
.secundario__botao{
    display: inline-block;
    margin: 1em 5em;
    background-color: var(--botao-verdinho);
}
.secundario__imagem{
    width: 100%;
    border-radius: 10%;
}
.container__descricao{
    margin: center;
    text-align: center;
    padding: 1em;
}
